@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


.navbar {
  background-color: #2d2e28;
  padding: 12px 20px;
  color: rgb(225, 221, 196);
}


.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 1.9rem;
  font-weight: 700;
  color: rgb(225, 221, 196);
  text-decoration: none;
}


.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgb(225, 221, 196);
  cursor: pointer;
}


.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: rgb(225, 221, 196);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* MOBILE DROPDOWN */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #2d2e28;
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
}
